<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <style>
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;;
            gap: 10px;
        }

        .item{
            border: 1px solid black;
            height: auto;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Home</title>
</head>
<body>
<form th:action="@{'/showAllPosts/search/'+${pageNumber}}">
    <input name="searchText" placeholder="search"/>
    <input type="submit" value="Submit">
</form>
<div class="container">
    <div class="item" th:each="post : ${posts}" >
        <h5 th:text="${post.title}" ></h5>
        <p th:text="${post.excerpt}"></p>
        <p th:text="${post.author}"></p>
        <p th:text="${post.createdAt}"></p>
        <div class="tag_container">
            Tags:
            <div class="tag_item" th:each="t : ${post.tags}" >
                <span style="display: inline;" th:text="${t.name}" ></span>
            </div>
        </div>
        <a th:href="@{/viewPost/{postId}(postId=${post.id})}"><button>View</button></a>
        <a th:href="@{/editPost/{postId}(postId=${post.id})}"><button>Edit</button></a>
        <a th:href="@{/deletePost/{postId}(postId=${post.id})}"><button>Delete</button></a>
    </div>
</div>

<!--pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li th:if="${currentPage != 1}" class="page-item"><a th:href="@{'/showAllPosts/'+${currentPage-1}}" class="page-link" >Previous</a></li>

        <li th:classappend="${currentPage==pageNo?'active':''}" th:each="pageNo : ${#numbers.sequence(1,totalPages)}"
            class="page-item"> <a th:href="@{'/showAllPosts/'+${pageNo}}" class="page-link" > <span th:text="${pageNo}"></span></a></li>

        <li th:if="${currentPage != totalPages}" th:class="page-item"><a th:href="@{'/showAllPosts/'+${currentPage+1}}" class="page-link" >Next</a></li>
    </ul>
</nav>
</body>
</html>