<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
<!--@{/editPost/{postId}(postId=${post.id})}-->
<form th:action="@{/updatePost/{postId}(postId=${post.id})}" th:object="${post}" method="POST">
    Title: <input type="text" th:field="*{title}"/>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></span>

    Excerpt: <input type="text" th:field="*{excerpt}"/>
    <span th:if="${#fields.hasErrors('excerpt')}" th:errors="*{excerpt}" class="error"></span>

    Content: <input type="text" th:field="*{content}"/>
    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></span>

    Author: <input type="text" th:field="*{author}"/>
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="error"></span>

    Tags: <input type="text"  name="tagStr" th:object="${tagString}" th:value="${tagString}" />

    <input type="submit" value="Submit">

</form>
</body>
</html>