<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <style>
        form{
            width: 800px;
            margin: auto;
            margin-top: 50px;
        }
        label,input,textarea,h1{
            width: 100%;
            margin: 10px;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>

<form th:action="@{/savePost}" th:object="${post}" method="POST">
    <h1>Create new BlogPost</h1>
    <label for="title">Title</label><br>
    <input type="text" id="title" th:field="*{title}"/>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></span><br>

    <label for="excerpt">Excerpt</label><br>
    <textarea id="excerpt" th:field="*{excerpt}" rows="3"></textarea>
    <span th:if="${#fields.hasErrors('excerpt')}" th:errors="*{excerpt}" class="error"></span><br>

    <label for="content">Content</label><br>
    <textarea id="content" th:field="*{content}" rows="6"></textarea>
    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></span><br>

<!--    <span th:if = "${#authentication.principal.username == post.author ||-->
<!--                #authorization.expression('hasRole(''ROLE_admin'')')}">-->

    <label for="author">Author</label><br>
    <div th:if = "${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <input type="text" id="author" th:field="*{author}"/>
    </div>
    <div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <span th:text = "${#authentication.principal.username}" ></span>
            <input type="hidden"  th:field="*{author}"/>
    </div>
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="error"></span><br>

    <label for="tags">Tags</label><br>
    <input id="tags" type="text"  name="tagString" /><br>

    <input type="submit" value="Submit">

</form>


</body>
</html>