<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
<form th:action="@{/successPage}" th:object="${post}" method="POST">
    Title: <input type="text" th:field="*{title}"/>
    Excerpt: <input type="text" th:field="*{excerpt}"/>
    Content: <input type="text" th:field="*{content}"/>
    Author: <input type="text" th:field="*{author}"/>
<!--    <label for="tags">Tags (comma-separated):</label>-->
    Tags: <input type="text"  name="tagString" />

    <input type="submit" value="Submit">

</form>


</body>
</html>